.wrapper {
	width: 1000px;
}
body {
	background-color: #BED0A3;
}

.final-project-content img {
	float:inherit; 
	margin-left:auto;
	margin-right:auto;
	
}
img {
margin-left:auto;
margin-right:auto;

}
