
.final-project-content img
	{
	float: left;
	margin-right: auto px;
	margin-left: auto px;
	margin-bottom: 35px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	}body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #21825b;
	line-height: 30px;
}



td {
	background-color: #55c195;
	vertical-align: top;
	text-align: center;
}
.final-project-content p {
	padding-right: px;
	line-height: 30px;
}
.final-project-content {
	background-color: #DADEE3;
	padding-right: 50px;
	padding-bottom: px;
	padding-left: 50px;
	padding-top: 20px;
}
