
.final-project-content img
	{
	float: left;
	margin-right: auto px;
	margin-left:auto px;
	margin-bottom: 35px;
	}body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #21825b;
	line-height: 30px;
}
.wrapper {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}
td {
	background-color: #00AE68;
	vertical-align: top;
	text-align: center;
}
.final-project-content p {
	padding-right: px;
	line-height: 30px;
}
.final-project-content {
	background-color: #DADEE3;
	padding-right: 50px;
	padding-bottom: px;
	padding-left: 50px;
	padding-top: 20px;
}
